## Testing Model

### Loading the Libraries

In [38]:
# Import the Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import statsmodels.api as sm
import numpy as np

### Loading the Dataset

In [39]:
data = pd.read_csv('Bank_data.csv', index_col=0)
data.head()

   interest_rate  credit  march  may  previous  duration    y
0          1.334     0.0    1.0  0.0       0.0     117.0   no
1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2          4.858     0.0    1.0  0.0       0.0     167.0   no
3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [40]:
data["y"] = data["y"].map({"yes": 1, "no": 0})

In [41]:
data.describe()

,interest_rate,credit,march,may,previous,duration,y
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
mean,2.835776,0.034749,0.266409,0.388031,0.127413,382.177606,0.500000
std,1.876903,0.183321,0.442508,0.814527,0.333758,344.295990,0.500483
min,0.635000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000
25%,1.042750,0.000000,0.000000,0.000000,0.000000,155.000000,0.000000
50%,1.466000,0.000000,0.000000,0.000000,0.000000,266.500000,0.500000
75%,4.956500,0.000000,1.000000,0.000000,0.000000,482.750000,1.000000
max,4.970000,1.000000,1.000000,5.000000,1.000000,2653.000000,1.000000

#### Dependent and Independent Variable

In [42]:
y = data["y"]
x1 = data.drop("y", axis=1)

In [43]:
x = sm.add_constant(x1)
model = sm.Logit(y,x)
results = model.fit()

Optimization terminated successfully.
         Current function value: 0.335942
         Iterations 7

In [44]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      511
Method:                           MLE   Df Model:                            6
Date:                Tue, 25 Mar 2025   Pseudo R-squ.:                  0.5153
Time:                        20:49:49   Log-Likelihood:                -174.02
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 7.579e-77
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.1385      0.339     -0.408      0.683      -0.804       0.527
interest_rate    -0.7802      0.092     -8.471      0.000      -0.961      -0.600
credit            2.4028      1.090      2.205      0.027       0.267       4.538
march            -1.8097      0.332     -5.459      0.000      -2.459      -1.160
may               0.1946      0.229      0.849      0.396      -0.255       0.644
previous          1.2746      0.583      2.186      0.029       0.132       2.417
duration          0.0070      0.001      9.386      0.000       0.006       0.008
=================================================================================
"""

In [45]:
def confusion_matrix(data, actual_values, model):
    pred_values = model.predict(data)
    bins = np.array([0,0.5,1])
    cm = np.histogram2d(actual_values, pred_values,bins=bins)[0]
    accuracy = (cm[0,0] + cm[1,1])/cm.sum()
    return cm, accuracy

In [46]:

confusion_matrix(x,y,results)

(array([[220.,  39.],
        [ 31., 228.]]),
 np.float64(0.8648648648648649))

### Testing Model

In [47]:
test_data = pd.read_csv("Bank_data_testing.csv", index_col=0)
test_data

     interest_rate  credit  march  may  previous  duration    y
0            1.313     0.0    1.0  0.0       0.0     487.0   no
1            4.961     0.0    0.0  0.0       0.0     132.0   no
2            4.856     0.0    1.0  0.0       0.0      92.0   no
3            4.120     0.0    0.0  0.0       0.0    1468.0  yes
4            4.963     0.0    0.0  0.0       0.0      36.0   no
..             ...     ...    ...  ...       ...       ...  ...
217          4.963     0.0    0.0  0.0       0.0     458.0  yes
218          1.264     0.0    1.0  1.0       0.0     397.0  yes
219          1.281     0.0    1.0  0.0       0.0      34.0   no
220          0.739     0.0    0.0  2.0       0.0     233.0   no
221          1.046     0.0    0.0  0.0       0.0     238.0  yes

[222 rows x 7 columns]

In [48]:
test_data["y"] = test_data["y"].map({"yes":1, "no":0})
test_data.head()

   interest_rate  credit  march  may  previous  duration  y
0          1.313     0.0    1.0  0.0       0.0     487.0  0
1          4.961     0.0    0.0  0.0       0.0     132.0  0
2          4.856     0.0    1.0  0.0       0.0      92.0  0
3          4.120     0.0    0.0  0.0       0.0    1468.0  1
4          4.963     0.0    0.0  0.0       0.0      36.0  0

In [49]:
test_actual = test_data["y"]
test_data = test_data.drop(["y"], axis=1)
test_data = sm.add_constant(test_data)
test_data

     const  interest_rate  credit  march  may  previous  duration
0      1.0          1.313     0.0    1.0  0.0       0.0     487.0
1      1.0          4.961     0.0    0.0  0.0       0.0     132.0
2      1.0          4.856     0.0    1.0  0.0       0.0      92.0
3      1.0          4.120     0.0    0.0  0.0       0.0    1468.0
4      1.0          4.963     0.0    0.0  0.0       0.0      36.0
..     ...            ...     ...    ...  ...       ...       ...
217    1.0          4.963     0.0    0.0  0.0       0.0     458.0
218    1.0          1.264     0.0    1.0  1.0       0.0     397.0
219    1.0          1.281     0.0    1.0  0.0       0.0      34.0
220    1.0          0.739     0.0    0.0  2.0       0.0     233.0
221    1.0          1.046     0.0    0.0  0.0       0.0     238.0

[222 rows x 7 columns]

In [50]:
type(test_data)

pandas.core.frame.DataFrame

In [52]:
cm = confusion_matrix(test_data,test_actual,results)
cm

(array([[94., 17.],
        [12., 99.]]),
 np.float64(0.8693693693693694))

In [53]:
cm_df = pd.DataFrame(cm[0])
cm_df.columns = ['Predicted 0','Predicted 1']
cm_df = cm_df.rename(index={0: 'Actual 0',1:'Actual 1'})
cm_df

          Predicted 0  Predicted 1
Actual 0         94.0         17.0
Actual 1         12.0         99.0